*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #000000;
    --text-color: white;
    --btn-bg-color: rgb(186, 233, 31);
    --btn-text-color: black;
}
[data-theme="dark"]{
    --bg-color: white;
    --text-color: black;
    --btn-bg-color: black;
    --btn-text-color: rgb(186, 233, 31);
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.container h1{
    color: var(--text-color);
}

/* .container .change-theme-btn.light{
    padding: 12px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    background-color: burlywood;
    border: 3px solid black;
    color: white;
}
.container .change-theme-btn.dark{
    padding: 12px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 3px solid rgb(251, 0, 243);
} */

.container .change-theme-btn{
    padding: 12px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
}